<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PreguntasRus</title>
<link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
<link href=/cses rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Preguntas'R'us </a></h1>
				<p>Aplicación educativa</p>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul class="nav">
			<li class="current_page_item"><a href="/home">Ranking</a></li>
			<li><a href="#">Mis preguntas</a>
				<ul>
					{% if profesor %}
						<li><a href="/mispreguntas1">Nueva pregunta</a></li>
						<li><a href="/mispreguntas2">Todas</a></li>
					{% else %}
						<li><a href="/mispreguntas1">Pendientes</a></li>
						<li><a href="/mispreguntas2">Respondidas</a></li>
					{% endif %}

				</ul>
			</li>
			<li><a href="/grafica">Estadísticas</a></li>
			<li><a href="/leccion">Mis lecciones</a>
				<ul>
					{% if profesor %}
						<li><a href="/leccion/nueva">Nueva lección</a></li>
						<li><a href="/leccion">Lecciones</a></li>
						<li><a href="/leccion/comentarios">Comentarios</a></li>
					{% endif %}

				</ul>
			</li>
			
			
			<li><a href="#">Mi cuenta</a>
				<ul>
					<li><a href="/conf">Configurar</a></li>
					<li><a href="/logout">Cerrar sesión</a></li>


				</ul>
			</li>
			
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">


						<div class="entry">
							<p>


								{% block content %}

								{% if user %}
									<h1>¡Hola, {{ user }}!</h1>

								{% else %}
									<h2>Bienvenido, usuario. Por favor logueate.</h2>
								{% endif %}

								<!-- Para el caso de que haya error o exito -->
								{% if error %}


									<h3> {{ error }} </h3>	

								{% endif %}

								{% if exito %}


									<h3> {{ exito }} </h3>	

								{% endif %}





								<!-- Para el ranking -->
								{% if ranking %}
									{% if profesor %}
										<h2>Ranking {{ asignatura }}</h2>
										<h4><a href="/home">Volver al ranking</a></h4>
									{% else %}
										<h2>Ranking {{ asignatura }}</h2>
										<h3><a href="/home">Volver al listado de asignaturas</a></h3>
									{% endif %}
									{% for r in ranking %}
									
									
									
									
										<script type="text/javascript">
										function eliminarUsuario(nombre) {
	
											if(confirm("¿Quieres eliminar al usuario?")) {
	
												document.location.href= '/edita/'+nombre;
	
											}
	
										} 
										</script>
	
										<li><h3>{{ r.usuario }}</h3>  <h4><a href="#" onclick="eliminarUsuario('{{ r.usuario }}');">eliminar</a></h4></li>
									
								
									{% endfor %}
									
								{% elif listaAsignaturas %}
									<h2>Elige una de tus asignaturas</h2>

									{% for l in listaAsignaturas %}

										<li><h3><a href="/ranking/{{ l.asignatura }}">{{ l.asignatura }}</a></h3></li>			
								
									{% endfor %}
								
								{% else %}
									<h2>No hay puntuaciones para mostrar</h2>

								{% endif %}


								{% endblock %}




							</p>
							
						</div>
					</div>

					
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Enlaces</h2>
							<ul>
								<li><a href="http://pfc-jsuelaplaza.libresoft.es/descarga/Preguntaras.apk">Enlace App</a></li>
								<li><a href="http://docencia.etsit.urjc.es/moodle/">Moodle</a></li>
							</ul>
						</li>
						<li>
							<h2>Contacto</h2>
							<p>Cualquier problema escribir a: j.suelaplaza@gmail.com</p>
						</li>

						

					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">

</div>
<!-- end #footer -->
</body>
</html>
