<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PreguntasRus</title>
<link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
<link href=/cses rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Preguntas'R'us </a></h1>
				<p>Aplicación educativa</a></p>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul class="nav">
			<li><a href="/home">Ranking</a></li>
			<li><a href="#">Mis preguntas</a>
				<ul>
					{% if profesor %}
						<li><a href="/mispreguntas1">Nueva pregunta</a></li>
						<li><a href="/mispreguntas2">Todas</a></li>
					{% else %}
						<li><a href="/mispreguntas1">Pendientes</a></li>
						<li><a href="/mispreguntas2">Respondidas</a></li>
					{% endif %}

				</ul>
			</li>
			<li  class="current_page_item"><a href="/grafica">Estadísticas</a></li>
			<li><a href="/leccion">Mis lecciones</a>
				<ul>
					{% if profesor %}
						<li><a href="/leccion/nueva">Nueva lección</a></li>
						<li><a href="/leccion">Lecciones</a></li>
						<li><a href="/leccion/comentarios">Comentarios</a></li>
					{% endif %}

				</ul>
			</li>
			
			
			<li><a href="#">Mi cuenta</a>
				<ul>
					<li><a href="/conf">Configurar</a></li>
					<li><a href="/logout">Cerrar sesión</a></li>


				</ul>
			</li>
			
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">


						<div class="entry">
							<p>


								{% block content %}
								<h2>Estadísticas</h2>
								<!-- Para el caso de que haya error o exito -->
								{% if error %}
									<h3> {{ error }} </h3>	
									<h4><a href="/grafica">Volver al listado</a></h4>

								{% elif listaAsignaturas %}
									{% for l in listaAsignaturas %}

										<li><h3><a href="/grafica/{{ l.asignatura }}">{{ l.asignatura }}</a></h3></li>			
								
									{% endfor %}
								<!-- Para que elija usuario para mostrar grafica de tiempo -->
								{% elif listadoalumnos %}

									{% for l in listadoalumnos %}

										<li><h3><a href="/grafica/tiempo/{{l.usuario}}">{{ l.usuario }}</a></h3></li>			
								
									{% endfor %}
									<h4><a href="/grafica">Volver al listado</a></h4>

								{% elif lista %}

										
										<li><h3><a href="/grafica/aciertos/{{asignatura}}">Aciertos vs. Fallos</a></h3></li>
										<li><h3><a href="/grafica/tipopreguntas/{{asignatura}}">Tipo de preguntas realizadas</a></h3></li>
										{% if profesor %}
											<li><h3><a href="/grafica/puntos">Ranking puntos</a></h3></li>
											<li><h3><a href="/grafica/tiempo">Tiempo ocioso</a></h3></li>	
		
										{% endif %}
										
								{% else %}
								
									<h4>No hay datos</h4>
								{% endif %}
								

								{% endblock %}




							</p>
							
						</div>
					</div>

					
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Enlaces</h2>
							<ul>
								<li><a href="http://pfc-jsuelaplaza.libresoft.es/descarga/Preguntaras.apk">Enlace App</a></li>
								<li><a href="http://docencia.etsit.urjc.es/moodle/">Moodle</a></li>
							</ul>
						</li>
						<li>
							<h2>Contacto</h2>
							<p>Cualquier problema escribir a: j.suelaplaza@gmail.com</p>
						</li>

						

					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">

</div>
<!-- end #footer -->
</body>
</html>
