<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Gráficas</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">

$(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Tipos de preguntas realizadas en {{asignatura}}'
            },
            xAxis: {
                categories: [						
							'{{puntuaciones.0.usuario}}'
                ]
            },
            yAxis: {
                
                title: {
                    text: 'Cantidad'
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Pregunta extra',
                data: [
							{{puntuaciones.0.preguntaextra}}]
            }, {
                name: 'Pregunta obligada',
                data: [
							{{puntuaciones.0.preguntaobligada}},
					]
            }, {
                name: 'Preguntas recibidas amistosas',
                data: [
						
							{{puntuaciones.0.preguntarecibidaamistosa}},
					]
            }, {
                name: 'Preguntas enviadas amistosas',
                data: [
						
							{{puntuaciones.0.preguntaenviadaamistosa}},
					]

            }]
        });
    });



		</script>
	</head>
	<body>
		<h3><a href="javascript:history.back()">Volver atrás</a></h3>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
		
		<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

	</body>
</html>
